html
  height 100%

#app
main
body
  height 100%
  min-height 100%

.container
  width 100%
  margin _ auto

  +media('xs')
    padding _ 17px

  +media('sm')
    max-width 700px

  +media('md')
    max-width 900px

  +media('lg')
    max-width 1100px

.text-center
  text-align center

*
  box-sizing border-box
