.row
  display flex
  flex-flow column
  overflow-x auto

  +media('md')
    flex-flow row
    overflow-x unset

  .col
    width 100%

    +media('md')
      flex-grow 1

      &.span-2
        flex-grow 2
        width 200%

      &.span-3
        flex-grow 3
        width 300%

      &.span-4
        flex-grow 4
        width 400%
