.waff-footer
  background #222
  color #6d6d6d

  font-size 20px

  +media('md')
    font-size 12px


  .container
    display flex
    justify-content space-between
    align-items center
    padding 17px _

    p
      margin _ _ 0
