.waff-footer
  .container.row
    .col
      p Copyright {{ yearspan }} {{ companyname }}
        br(v-if='copyright')
        | {{ copyright }}
    .col.text-center
      slot
        
    .col.text-right
      span(v-if='$root.bypassFooter !== true') Designed by #[a(href='https://wvffle.net') wvffle] {{ comment }}
