.waff-footer
  .container
    .left
      p Copyright {{ yearspan }} {{ companyname }}
        br(v-if='copyright')
        | {{ copyright }}
      
    .center
      slot
        
    .right Designed by #[a(href='https://wvffle.net') wvffle] {{ comment }}
