.hero
  height 80vh
  relative _
  // overflow hidden
  pallete 5
  background-size cover

  &.small
    height 20vh

  .dim
    absolute 0
    background #000

  .content
    absolute 0
    flex center
    flex-flow column
    background #0003
