color-primary = #0af
color-alt = #2d323e

color-text-light = #fff
color-text-dark  = #2d323e

color-pallete = {
  color1: #fff88b,
  color2: #ffe87b,
  color3: #ffd86b,
  color4: #ffc85b,
  color5: #ffb84b,
}
