extends ../../layouts/default.pug

block head
  title My custom title
  
block styles
  +style('app')
  
block content
  include ../../parts/header.pug
  
  :markdown-it(linkify)
    # static-waffle
    
  include ../../parts/footer.pug
