extends /layouts/app
  
block append styles
  +style('app')
  +style('typography')
  +style('grid')
  +style('boxModel')
  
  +font('Source Sans Pro', [ 200, 400, 700 ])
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/brands.css" crossorigin="anonymous")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/solid.css" crossorigin="anonymous")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/fontawesome.css" crossorigin="anonymous")
  
block append post-scripts
  +script('main')
