header.navigation
  width 100%
  z-index 1
  padding 47px _ 77px

  &[fixed]
    fixed 0 _ _

  nav
    +media('md')
      display flex
      flex-flow row
      align-items center

    .right
      margin-left auto

    .left
      margin-right auto

      a:first-child:last-child
        display flex
        align-items center

        +media('md')
          display block

    a
      display block
      padding 27px 17px
      color rgba(color-primary, .5)
      font-family Montserrat, sans-serif
      text-transform uppercase
      letter-spacing 2px
      color rgba(#000, .66)
      font-weight 900

      +media('sm')
        display inline-block

      img
        width 266px

      &:hover
        color color-primary
        text-decoration none

      &.router-link-active
        color color-primary
